<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--同类名路径-->
<mapper namespace="com.dubbo.mapper.HelloMapper">
    <select id="selectHello" resultType="Map">
      select * from user
    </select>

</mapper>